@use "./variables" as*;

@media (min-width: 319px) {
    .titleContainer h1 {
        font-size: 2rem;
    }
<<<<<<< HEAD
  
=======
>>>>>>> 43dcecf2c10e74d0d26c83f87b36314a8b276cae
}

@media (min-width: 600px) {
   .main.wrapper {
    width: 90%;
   }
    .titleContainer h1 {
        font-size: 2.5rem;
    }
    .formContainer {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .main.wrapper {

    }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
