@use "./variables" as *;

// SCORE CONTAINER
.scoreStats {
    width: 100%;
    margin: 40px 0;
    background-color: $buttonFontColor;
    border-radius: 25px;
    padding: 20px;
    transition: 0.2s ease-in-out;
    backdrop-filter: blur(6px) opacity(0.5);
}

// HIGH SCORE BOARD
.highScoreBoard,
.localScoreContainer {
    width: 100%;
    padding: 0 20px;
    z-index: 10;
}


.scoreItem {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    width: 100%;
    gap: 20px;
    color: $buttonColor;

    transition: 0.3s ease-in-out;

    &:hover,
    &:focus {
        transform: scale(1.02);
        color: $incorrectColor;

        .line {
            border-color: $incorrectColor;
        }
    }
}

.line {
    flex-grow: 1;
    border-bottom: 7px dotted $buttonColor;
    transition: 0.3s ease-in-out;
    position: relative;
    bottom: 15px;
}

.userStat,
.userScore {
    min-width: 60px;
}

.localScoreContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: $buttonColor;

    p {
        margin: 0;
    }

    transition: 0.3s ease-in-out;

    &:hover,
    &:focus {
        transform: scale(1.02);
        color: $correctColor;

        .line {
            border-color: $correctColor;
        }
    }
}