// FONT FAMILIES

$titleFont: "";
$baseFont: 'PT Sans', sans-serif;

// COLOR

$backgroundColor: rgb(51, 51, 80);

// FONTS
$buttonFontColor: rgba(213, 213, 235, 1);

$buttonColor: rgba(145, 113, 192);

$correctColor: rgb(144, 252, 123);
$incorrectColor: rgb(243, 108, 108);