@use "./partials/setup";
@use "./partials/variables" as *;
@use "./partials/animation" as *;
@use "./partials/global";

// 1. camelCase
// 2. "" to be used in 
// // css
// // html
// // js -> use ''
main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.wrapper {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.state {
    width: 500px;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}